extends index

block content
  
  h5.form-title Welcome! Please Log In.
  
  // authentication form
  form(action='/users', method='POST')
    .form-group
        label(for='userId') Username or Email:
        input.form-control.form-control-20(type='text', name='userId' required)
      
    .form-group
        label(for='password') Password:
        input.form-control.form-control-20(type='password', name='password' required)

    .btn-container.center
        button.btn.btn-primary(type='submit') Submit 
        
    .link-container.center
        a(href='/users/new') Don't have an account? Sign up now!